<!doctype html>
<html lang="pt-br">
	<head>
		<base href="/">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="description" content="Aprenda o que precisa para tirar uma boa nota no ENEM! Passe no vestibular como um dos melhores! Aqui você também aprende a escrever uma redação perfeitamente.">
		<title>AprovaEnem</title>

		<style type="text/css">
			[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
				display: none !important;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="gamateam1/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="gamateam1/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="gamateam1/bower_components/angular-loading-bar/build/loading-bar.min.css" media="all">

		<link rel="stylesheet" type="text/css" href="gamateam1/public/css/standard.css">
	</head>

	<body ng-app="aprovaapp" ng-controller="MainCtrl" ng-cloak>
		<nav class="barra1">
			<div class="row-fluid">
				<div class="col-md-4" >
					<div class="contador1">
					  <img class="first-slide" src="gamateam1/public/images/logo4.png" alt="First slide">
					</div>
				</div>
				<div class=" col-md-5"></div>
				<div class=" col-md-3">
					<nav id="menu">
						<ul>
						  <li role="" class="active"><a href="gamateam1/index.html">Home</a></li>
						  <li role=""><a href="#">Sobre</a></li>
						  <li role=""><a href="https://www.facebook.com/Aprova-no-Enem-825167387587727/">Contato</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</nav>
		<div >
			<!-- <div  class="contador">
				<p><b> FALTAM 180 DIAS PARA O ENEM. VOCÊ JÁ ESTUDOU O SUFICIENTE?</b></p>
			</div> -->
		</div>

		<!-- Carousel
		================================================== -->
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1" ></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		  </ol>
		  <div class="carousel-inner" role="listbox">
			<div class="item active">
			  <img class="first-slide" src="gamateam1/public/images/banner_topo_1_02.png" alt="First slide">
			  <div class="container">
				<div class="carousel-caption">
				  <h1>Seja Aprovado!</h1>
  				  <p>Você está querendo ser aprovado no ENEM e procura pelas <b>melhores dicas</b> sobre o tema na internet? Nós podemos te ajudar!</p>
  				  <p><a class="btn btn-lg btn-primary" href="gamateam1/artigo1.html" role="button">Saiba mais</a></p>
				</div>
			  </div>
			</div>
			<div class="item">
			  <img class="second-slide" src="gamateam1/public/images/banner_topo_2.png" alt="Second slide">
			  <div class="container">
				<div class="carousel-caption">
				  <h1>Seja Aprovado!</h1>
				  <p>Você está querendo ser aprovado no ENEM e procura pelas <b>melhores dicas</b> sobre o tema na internet? Nós podemos te ajudar!</p>
				  <p><a class="btn btn-lg btn-primary" href="#" role="button">Saiba mais</a></p>
				</div>
			  </div>
			</div>
			<div class="item">
			  <img class="third-slide" src="gamateam1/public/images/banner_topo_3.png" alt="Third slide">
			  <div class="container">
				<div class="carousel-caption">
					<h1>Seja Aprovado!</h1>
    				<p>Você está querendo ser aprovado no ENEM e procura pelas <b>melhores dicas</b> sobre o tema na internet? Nós podemos te ajudar!</p>
    				<p><a class="btn btn-lg btn-primary" href="#" role="button">Saiba mais</a></p>
  				</div>
			  </div>
			</div>
		  </div>
		  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Anterior</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Próximo</span>
		  </a>
		</div>
		<!-- ------------------ /.carousel -->

		<div class="container">
		  <!-- Example row-fluid of columns -->
		  <div class="row">
			<div class="col-md-6">
				<div class="artigos texto short-div">
				  <img src="gamateam1/public/images/img_post01.png" class="img-responsive" alt="Responsive image">
				  <h2>Saiba como ser aprovado no ENEM</h2>
				  <p>Você está querendo ser aprovado no ENEM e procura pelas <b>melhores dicas</b> sobre o tema na internet? Nós podemos te ajudar!</p>
				  <p><a class="btn btn-primary" href="gamateam1/artigo1.html" role="button">Leia mais &raquo;</a></p>
				</div>
				<div class="artigos texto short-div">
				  <img src="gamateam1/public/images/img_post02.png" class="img-responsive" alt="Responsive image">
				  <h2>Heading</h2>
				  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
				  <p><a class="btn btn-primary" href="#" role="button">Leia mais&raquo;</a></p>
				</div>
			</div>
			<div class="col-md-5 col-md-offset-1">
				<div class="artigos destaque short-div">
				  <br />
				  <form class="form" id="formulario-cadastro">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
				  			<div class="form-group">
				  				<h2>Assine nosso blog</h2>
				  			</div>
				  		</div>
					</div>
				  	<div class="row">
				  		<div class="col-md-8 col-md-offset-2">
				  			<div class="form-group">
				  				<input ng-model="userData.email" class="form-control" type="text" placeholder="Email">
				  			</div>
				  		</div>
				  	</div>
				  	<div class="row">
				  		<div class="col-md-4 col-md-offset-2">
				  			<div class="form-group">
				  				<input ng-model="userData.age" class="form-control input-cadastro" type="text" placeholder="Idade">
				  			</div>
				  		</div>
				  		<div class="col-md-4">
				  			<div class="form-group">
				  				<input ng-model="userData.location" class="form-control input-cadastro" type="text" placeholder="De onde você é?">
				  			</div>
				  		</div>
				  	</div>
					<div class="row">
				  		<div class="col-md-4 col-md-offset-2">
				  			<div class="form-group">
				  			</div>
				  		</div>
				  		<div class="col-md-4">
				  			<div class="form-group">
								<button ng-click="lead()" class="btn btn-default">Cadastre-se!</button>
				  			</div>
				  		</div>
				  	</div>

				  </form>
					<!-- <div class="input-group">
					  <input type="text" placeholder="e-mail"  class="form-control" aria-label="...">
					  <div class="input-group-btn">
						  <button type="button" class="btn btn-default "><span class="glyphicon glyphicon-envelope white" aria-hidden="true"></span></button>
					  </div>
					</div> -->
				</div>
				<br/><br/><br/>
				<div class="artigos short-div">
					<h2> <button type="button" class="btn btn-primary "><span class="glyphicon glyphicon-pencil white" aria-hidden="true"></span></button> Redações</h2>
					<ul class="listas">
						<li type= disc><b>Veja como fazer redação nota 1000</b>
							<ul>
								<li><a>10 dicas de como aprimorar a escrita</a>
								<li><a>3 formas de não fugir do tema</a>
								<li><a>Como saber onde estamos errando</a>
							</ul>
						<li type=square><b>Questões multipla-escolha:Como acertar?</b></b>
						<li type=square><b>10 formas de manter a concentração</b>
					</ul>
				</div>
				<br/><br/><br/>
				<div class="artigos short-div">
					<h2> <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-th-list white" aria-hidden="true"></span></button> Categorias</h2>
					<br/>
					<div class="list-group">
					  <a href="#" class="list-group-item">Bem estar do aluno</a>
					  <a href="#" class="list-group-item">Educação brasileira</a>
					  <a href="#" class="list-group-item">Metodologia de ensino</a>
					</div>
				</div>

			</div>
		  </div>
		  <br/>

		  <hr>


		</div> <!-- /container -->
		<div class="footer1">
			<div class="container">
			  <!-- Example row-fluid of columns -->
			  <div class="row">
				<div class="col-md-4 ">
					<span class="glyphicon glyphicon-envelope white" aria-hidden="true"></span>
					<span> </span>
					<span>contato@aprovenoenem.com.br</span>
				</div>
				<div class="col-md-4 col-md-offset-4">
					<a class="navbar-brand" style="color:#FFFAFA" href="https://www.facebook.com/Aprova-no-Enem-825167387587727/"><img src="gamateam1/public/images/fb3.png" class="img-responsive" alt="Responsive image"></a>
				</div>
			  </div>
			  <div class="row">
				<div class="col-md-6">
					<span class="glyphicon glyphicon-earphone white" aria-hidden="true"></span>
					<span> </span>
					<span>0800-888-123</span>
				</div>
			  </div>
			  <div class="row">
				<div class="col-md-12">

				  <p>AprovaEnem ® 2016</p>
				</div>
			  </div>
			</div>
	  </div>

		<!-- modais -->

		<div class="modal fade" id="cadastro" tabindex="-1" role="dialog" aria-labelledby="cadastroLead">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Cadastre para adquirir conteúdo sobre o ENEM!</h4>
			  </div>
			  <div class="modal-body">
					<form class="form" id="formulario-cadastro">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<div class="form-group">
									<input ng-model="userData.email" class="form-control" type="text" placeholder="Email">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-md-offset-2">
								<div class="form-group">
									<input ng-model="userData.age" class="form-control input-cadastro" type="text" placeholder="Idade">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<input ng-model="userData.location" class="form-control input-cadastro" type="text" placeholder="De onde você é?">
								</div>								
							</div>
						</div>
						<button ng-click="lead()" class="btn btn-success">Cadastre-se!</button>
					</form>
			  </div>
			</div>
		  </div>
		</div>

		<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successo">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  </div>
			  <div class="modal-body">
			  		Cadastrado com Sucesso.
			  </div>
			</div>
		  </div>
		</div>

		<script type="text/javascript" src="gamateam1/bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="gamateam1/bower_components/angular/angular.min.js"></script>

		<script type="text/javascript" src="gamateam1/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

		<script type="text/javascript" src="gamateam1/bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
		<script type="text/javascript" src="gamateam1/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


		<script type="text/javascript" src="gamateam1/bower_components/angulartics/dist/angulartics.min.js"></script>
		<script type="text/javascript" src="gamateam1/bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>

		<script type="text/javascript" src="gamateam1/public/js/main.js"></script>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		  ga('create', 'UA-77449524-1', { 'cookieDomain': 'none' });

		  $('#cadastro').modal('show');
		</script>
	</body>
</html>
