<!doctype html>
<html lang="pt-br">
	<head>
		<base href="/">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="description" content="Aprenda o que precisa para tirar uma boa nota no ENEM! Passe no vestibular como um dos melhores! Aqui você também aprende a escrever uma redação perfeitamente.">
		<title>AprovaEnem</title>

		<style type="text/css">
			[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
				display: none !important;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="gamateam1/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="gamateam1/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="gamateam1/bower_components/angular-loading-bar/build/loading-bar.min.css" media="all">

		<link rel="stylesheet" type="text/css" href="gamateam1/public/css/standard.css">
	</head>

	<body ng-app="aprovaapp" ng-cloak>


		<!-- modais -->

		<div ng-controller="MainCtrl" class="modal fade" id="cadastro" tabindex="-1" role="dialog" aria-labelledby="cadastroLead">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Cadastre para adquirir conteúdo sobre o ENEM!</h4>
			  </div>
			  <div class="modal-body">
					<form class="form" id="formulario-cadastro">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<div class="form-group">
									<input ng-model="userData.email" class="form-control" type="text" placeholder="Email">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-md-offset-2">
								<div class="form-group">
									<input ng-model="userData.age" class="form-control input-cadastro" type="text" placeholder="Idade">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<input ng-model="userData.location" class="form-control input-cadastro" type="text" placeholder="De onde você é?">
								</div>
							</div>
						</div>
						<button ng-click="lead()" class="btn btn-primary">Cadastre-se!</button>
					</form>
			  </div>
			</div>
		  </div>
		</div>

		<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successo">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  </div>
			  <div class="modal-body">
			  		Cadastrado com Sucesso.
			  </div>
			</div>
		  </div>
		</div>


		<script type="text/javascript" src="gamateam1/bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="gamateam1/bower_components/angular/angular.min.js"></script>

		<script type="text/javascript" src="gamateam1/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

		<script type="text/javascript" src="gamateam1/bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
		<script type="text/javascript" src="gamateam1/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


		<script type="text/javascript" src="gamateam1/bower_components/angulartics/dist/angulartics.min.js"></script>
		<script type="text/javascript" src="gamateam1/bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>

		<script type="text/javascript" src="gamateam1/public/js/main.js"></script>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		  ga('create', 'UA-77449524-1', { 'cookieDomain': 'none' });

		  $('#cadastro').modal('show');
		</script>
	</body>
</html>
