	/* Move down content because we have a fixed navbar that is 50px tall */
	body {
	  padding-top: 56px;
	  padding-bottom: 0px;
	  background-color: #FFFAFA;
	}

	.barra{
		background-color:#262A83 !important;
		color: #FFFFFF;
		border-bottom: 5px;
		border-color: #EDF1F2;
	}
	.barra2{
		padding-top: 20px;
		height: 5px;
		width: 100%;
	    background-color: #EDF1F2;
	}
	.barra3{
		width: 100%;
		text-align: center;
	}
	.barra.container{
		border-bottom: 5px;
		border-color: #EDF1F2;
	}

	.barra button{
		background-color:#FFFAFA;
		border-color: #FDF5E6;
		color: #696969;

	}

	.barra img{
	}

	.barra a{
		color:#FFFAFA;
	}

	.barra1{
		padding-top: 15px;
		height: 140px;
		width: 100%;
	    background-color: #FFFFFF;
		/*margin-top:50px;*/
	}
	.contador{
		background-color: #FFFFFF;
		text-align: center;
		font-size: 15px;
		color: #ffffff;
		font-family: "Times New Roman", Georgia, Serif;
	}

	.contador1{
		margin-left: 40px;
		margin-right:-40px;
		height:120px;
		width: 150px;
	}

	.container{
	}
	#menu ul {
		padding:25px 0px 0px 0px;
		margin:0px;
		list-style:none;
	}
	#menu ul li { display: inline; }

	#menu ul li a {
		padding: 2px 10px;
		display: inline-block;

		/* visual do link */
		color: #333;
		text-decoration: none;
		border-left:3px solid #EDEDED;
		font-size: 16px;
	}
	#menu ul li a:hover {
		color: #4169E1;
	}
	.white, .white a {
	  color: #fff;
	}
	.destaque{
		background-color: #0075AC !important;
		color: #FFFFFF;
	}

	.artigos{
		background-color: #FFFFFF;
		border-color: #228B22;
		padding: 2px;
	}
	.artigos button{
		background-color: #4169E1;

	}
	.artigos img{
		width:550px;
		height: 250px;
	}
	.artigo{
		width: 70%;
		text-align:justify;
	}
	.artigo img{
		width:650px;
		height: 300px;
	}
	.texto{
		padding-bottom: 25px;
	}
	.texto p{
		margin-bottom: 25px;
	}

	.listas{
		line-height : 40px;
	}

	.footer1{
		background-color:#262A83 !important;
		height:100px;
		padding-top: 15px;
		color: white;
	}
	.footer1 p{
		color:#FFFFFF;
		text-align: center;
	}

	.footer1 a{
		height: 30px;
		text-align: center;
	}
	/* CUSTOMIZE THE CAROUSEL
	-------------------------------------------------- */

	/* Carousel base class */
	.carousel {
	  height: 350px;
	}
	/* Since positioning the image, we need to help out the caption */
	.carousel-caption {
	  z-index: 10;
	  text-align: left;
	  width: 20%;
	  left: 15%;
	  top: 5%;
	}

	/* Declare heights because of positioning of img element */
	.carousel .item {
	  height: 350px;
	  background-color: #777;
	}
	.carousel-inner > .item > img {
	  position: absolute;
	  top: 0;
	  left: 0;
	  min-width: 100%;
	  height: 350px;
	}
