			<div class="container">
			  <!-- Example row-fluid of columns -->
			  <div class="row">
				<div class="col-md-6">
					<div ng-repeat="post in posts" class="artigos texto short-div">
					  <img ng-src="images/{{post.img}}" class="img-responsive" alt="Responsive image">
					  <h2>{{post.title}}</h2>
					  <p ng-bind-html="post.tiny"> </p>
					  <p><a class="btn btn-primary" ui-sref="post({postUrl: post.url})" role="button">Leia mais &raquo;</a></p>
					</div>
				</div>
				<div class="col-md-5 col-md-offset-1">
					<div class="artigos destaque short-div">
					  <br />
					  <form class="form" id="formulario-cadastro">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
					  			<div class="form-group">
					  				<h2>Assine nosso blog</h2>
					  			</div>
					  		</div>
						</div>
					  	<div class="row">
					  		<div class="col-md-8 col-md-offset-2">
					  			<div class="form-group">
					  				<input ng-model="userData.email" class="form-control" type="text" placeholder="Email">
					  			</div>
					  		</div>
					  	</div>
					  	<div class="row">
					  		<div class="col-md-4 col-md-offset-2">
					  			<div class="form-group">
					  				<input ng-model="userData.age" class="form-control input-cadastro" type="text" placeholder="Idade">
					  			</div>
					  		</div>
					  		<div class="col-md-4">
					  			<div class="form-group">
					  				<input ng-model="userData.location" class="form-control input-cadastro" type="text" placeholder="De onde você é?">
					  			</div>
					  		</div>
					  	</div>
						<div class="row">
					  		<div class="col-md-4 col-md-offset-2">
					  			<div class="form-group">
					  			</div>
					  		</div>
					  		<div class="col-md-4">
					  			<div class="form-group">
									<button ng-click="lead()" class="btn btn-default">Cadastre-se!</button>
					  			</div>
					  		</div>
					  	</div>

					  </form>
						<!-- <div class="input-group">
						  <input type="text" placeholder="e-mail"  class="form-control" aria-label="...">
						  <div class="input-group-btn">
							  <button type="button" class="btn btn-default "><span class="glyphicon glyphicon-envelope white" aria-hidden="true"></span></button>
						  </div>
						</div> -->
					</div>
					<br/><br/><br/>
					<div class="artigos short-div">
						<h2> <button type="button" class="btn btn-primary "><span class="glyphicon glyphicon-pencil white" aria-hidden="true"></span></button> Aprenda rápido!</h2>
						<ul class="listas">
								<ul>
	   								<li><a ui-sref="post({postUrl: 'os-3-melhores-professores-de-matematica-do-youtube'})">Veja os 3 melhores professores de matemática do Youtube</a>
	   								<li><a ui-sref="post({postUrl: '8-regras-de-uso-de-hifen-que-voce-precisa-saber'})">8 regras de uso de hífen que você precisa saber</a>
	   							</ul>
						<!--	<li type=square><b>Questões multipla-escolha:Como acertar?</b></b>
							<li type=square><b>10 formas de manter a concentração</b> -->
						</ul>
					</div>
					<div class="artigos short-div">
						<h2> <button type="button" class="btn btn-primary "><span class="glyphicon glyphicon-star white" aria-hidden="true"></span></button> Dicas</h2>
						<ul class="listas">
								<ul>
									<li><a ui-sref="post({postUrl: '5-dicas-para-nao-chegar-atrasado-no-dia-do-enem'})">5 dicas para não chegar atrasado no dia do ENEM!</a>
									<li><a ui-sref="post({postUrl: '4-formas-comprovadas-de-ser-mais-produtivo-nos-estudos'})">4 formas comprovadas de ser mais produtivo nos estudos</a>
		   							<li><a ui-sref="post({postUrl: 'saiba-como-ser-aprovado-no-enem'})">Saiba como ser aprovado no ENEM</a>
								</ul>
						<!--	<li type=square><b>Questões multipla-escolha:Como acertar?</b></b>
							<li type=square><b>10 formas de manter a concentração</b> -->
						</ul>
					</div>
					<br/><br/><br/>
					<div class="artigos short-div">
						<h2> <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-th-list white" aria-hidden="true"></span></button> Categorias</h2>
						<br/>
						<div class="list-group">
						  <a class="list-group-item">Bem estar do aluno</a>
						  <a class="list-group-item">Educação brasileira</a>
						  <a class="list-group-item">Metodologia de ensino</a>
						</div>
					</div>

				</div>
			  </div>
			  <br/>
		  <hr>


		</div> <!-- /container -->
